    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
          resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="<%= @tomcat_webapps -%>"
          unpackWARs="true" autoDeploy="true">

        <!--
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
          prefix="localhost_access_log" suffix=".txt"
          pattern="%h %l %u %t &quot;%r&quot; %s %b" />
        -->

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
          pattern="combined" rotatable="false"
          prefix="access_log" />

      </Host>
    </Engine>
  </Service>
</Server>
