description "Tomcat Server"

  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn
  respawn limit 10 5

  setuid tomcat
  setgid tomcat

  env JAVA_HOME=<%= @java_home -%>/jre
  env CATALINA_HOME=<%= @tomcat_root %>

  # Modify these options as needed
  env JAVA_OPTS='<%= @java_options -%>'
  env CATALINA_OPTS='<%= @catalina_options -%>'

  exec $CATALINA_HOME/bin/catalina.sh run

  # cleanup temp directory after stop
  post-stop script
    rm -rf $CATALINA_HOME/temp/*
  end script
