[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=<%= @java_home %>/jre
Environment=CATALINA_PID=<%= @tomcat_home -%>/temp/tomcat.pid
Environment=CATALINA_HOME=<%= @tomcat_home %>
Environment=CATALINA_BASE=<%= @tomcat_home %>
Environment='CATALINA_OPTS=<%= @catalina_options -%>'
Environment='JAVA_OPTS=<%= @java_options -%>'

ExecStart=<%= @tomcat_home -%>/bin/startup.sh
ExecStop=<%= @tomcat_home -%>/bin/shutdown.sh

User=tomcat
Group=tomcat
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
